h1 span {
  color:red;
  font-weight: bold;
}
.list-bloc .col-4 {
  background-color: #f0f0f0;
  border: 10px solid #fff;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}

.list-bloc .col-4 p {
  color: red;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

